body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #303030;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-container {
  background-color: #211e41;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  max-width: 400px;
  margin: auto;
  text-align: center;
  color: white;
}

.login-button {
  background-color: #a1a6cf;
  color: white;
  width: 100%;
}

.login-button:hover {
  background-color: #759ecd;
}

.text-field {
  margin-bottom: 1rem;
  background-color: #1c3436;
  border-radius: 5px;
}

.dashboard {
  font-family: Arial, sans-serif;
}

.nav-bar {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.nav-bar a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
}

.nav-bar a:hover {
  background-color: #555;
}

.nav-link {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.nav-link:hover {
  background-color: #555;
}

.nav-link-button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  padding: 10px 20px;
  text-decoration: none;
}

.nav-link-button:hover {
  background-color: #555;
}

.content {
  padding: 20px;
  margin-top: 20px;
  max-width: 1200px;
  margin: auto;
}

.light-sequence-control {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
